.video-card-container {
  max-width: 40rem;
  margin: 0 auto;
  h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "...";
  }
}
.video-frame {
  border: none;
  border-radius: 0.5rem;
  width: 100%;
}

.placeholder {
  background-color: #efefef;
  border-radius: 0.5rem;
}