.video-card-container {
  max-width: 40rem;
  margin: 0 auto;
  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.video-frame {
  border: none;
  border-radius: 0.5rem;
  width: 100%;
}

.placeholder {
  margin: 0.5rem 0;
  background: #efefef;
  border-radius: 0.5rem;
}