@import '../../common/styles/theme';

.pageContent {
  width: 100%;
  max-width: 1366px;
  margin: 160px auto;
  padding: 0 1rem;
  font-family: $sans;
  @include respond-to('small') {
    width: 90%;
    padding: 0 3rem;
  }
  header {
    width: 100%;
    height: auto;
    margin: 0 0 3rem 0;
    @include respond-to('small') {
      width: 33%;
      max-width: 600px;
      padding: 0 2rem 0 0;
    }
    div {
      border-radius: 1rem;
    }
  }
}
.videoGrid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1rem;
  @include respond-to('medium') {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond-to('large') {
    grid-template-columns: repeat(3, 1fr);
  }
}

.streamPlaceholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc((90vw - 6rem) * 0.5625);
  border-radius: 0.5rem;
  background-color: $lightGray;
  p {
    font-size: 1.5rem;
    font-weight: bold;
    color: $darkGray;
  }
}
.notice {
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: $pastelGreen;
}