@import '../../../common/styles/importer';


.card {
  display: flex;
  margin-bottom: 2rem;
  h2 {
    margin: 0 0 0.5rem 0;
  }
  p {
    margin: 0;
  }
}

.image {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 0.5rem;
  background-color: $lightGray;
}

.content {
  width: calc(100% - 12.5rem);
  padding: 1rem;
}