
.fx-mobile-drawer-open {
  animation-name: fx-slideIn, fx-fadeIn;
  animation-duration: 0.3s;
  animation-direction: forwards;
}

.fx-mobile-drawer-close {
  animation-name: fx-slideOut, fx-fadeOut;
  animation-duration: 0.3s;
  animation-direction: forwards;
  
}

.fx-mobile-icon-open {
  animation-name: fx-rotate-cc;
  animation-duration: 1s;
  animation-direction: forwards;
}

.fx-mobile-icon-close {
  animation-name: fx-rotate-c;
  animation-duration: 1s;
  animation-direction: forwards;
}

.fx-progress-undetermined {
  animation-name: fx-progressSlideRepeat;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.fx-desktop-submenu-fadein {
  animation-name: fx-fadeIn;
  animation-duration: 0.3s;
  animation-direction: forwards;
}

.fx-desktop-submenu-fadeout {
  animation-name: fx-fadeOut;
  animation-duration: 0.3s;
  animation-direction: forwards;
}

.fx-cta-card-slidein {
  &:first-of-type {
    animation-name: fx-ctaSlideInLeft;
    animation-duration: 0.75s;
    animation-direction: forwards;
  }
  &:last-of-type {
    animation-name: fx-ctaSlideInRight;
    animation-duration: 0.75s;
    animation-direction: forwards;
  }
 
}

@keyframes fx-ctaSlideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  75% {
    transform: translateX(10%);
    opacity: 1;
  }
  85% {
    transform: translateX(-5%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fx-ctaSlideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  75% {
    transform: translateX(-10%);
    opacity: 1;
  }
  85% {
    transform: translateX(5%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fx-progressSlideRepeat {
 0% {
   width: 0%;
 }
 50% {
   width: 100%;
 }
 100% {
  width: 0%;
 }
}
@keyframes fx-slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fx-slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes fx-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fx-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@keyframes fx-rotate-c {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fx-rotate-cc {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}