ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}
blockquote {
  padding: 1rem;
  background-color: $lightGray;
  border-left: 0.5rem solid $pastelGreen;
}
address {
  margin: 1rem 0;
  font-style: normal;
}

a {
  color: $mediumBlue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.linkButton {
  display: inline-block;
  padding: 0.5rem 1rem;
}