body {
  font-family: $serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: $spacingLarge 0 $spacingSmall 0;
  @include font-family('serif');
}
h1 {
  @include font-size('xlarge');
}
h2 {
  @include font-size('large');
}
h3 {
  @include font-size('medium');
}
h4 {
  @include font-size('medium');
  font-weight: 400;
}
h5, h6 {
  @include font-size('default');
}
p {
  @include font-family('sans');
  @include font-size('default');
}

strong {
  font-weight: 600;
}