@import '../../../common/styles/importer';

.featured-person {
  margin: 0 0 2rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2.5rem;
  margin: 4rem 0 2rem 0;
  @include respond-to('xsmall') {
    grid-template-columns: repeat(2, 1fr);
  }
  @include respond-to('small') {
    grid-template-columns: repeat(3, 1fr);
  }
  // @include respond-to('medium') {
  //   grid-template-columns: repeat(3, 1fr);
  // }
  @include respond-to('large') {
    grid-template-columns: repeat(4, 1fr);
  }
}