@import '../../common/styles/theme';

.pageContent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1366px;
  margin: 160px auto;
  padding: 0 1rem;
  font-family: $sans;
  @include respond-to('small') {
    justify-content: space-between;
    width: 90%;
    padding: 0 3rem;
  }
  header {
    width: 100%;
    height: auto;
    margin: 0 0 3rem 0;
    @include respond-to('small') {
      width: 33%;
      max-width: 600px;
      padding: 0 2rem 0 0;
    }
    div {
      border-radius: 1rem;
    }
  }
  section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @include respond-to('medium') {
      width: 66%;
      padding-right: 2rem;
    }
    h1 {
      width: 100%;
      margin: 0 0 1rem 0;
      font-size: 2rem;
    }
    div {
      max-width: 800px;
    }
    ul {
      @include respond-to('xsmall') {
        width: 50%;
      }
      @include respond-to('medium') {
        width: 100%;
      }
    }
    form {
      width: 100%;
      margin-top: 3rem;
      @include respond-to('xsmall') {
        width: 50%;
        margin-top: 0;
      }
      @include respond-to('medium') {
        width: 100%;
        max-width: 500px;
      }
    }

  }

  aside {
    width: 100%;
    @include respond-to('medium') {
      width: 33%;
    }
  }
}

.accessHidden {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.formInput {
  margin: 1rem 0;
  * {
    width: 100%;
  }
  label {
    display: block;
  }
  input, textarea, select {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ababab;
  }
}

.notice {
  max-width: 400px;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: $pastelGreen;
}