@import '../../../common/styles/importer';

.wrapper {
  position: fixed;
  z-index: 100;
  top:0;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 80px;
  background: rgba(255,255,255,0.95);
}
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  @include respond-to('small') {
    width: 85vw;
  }
}

.navigation {
  height: 100%;
  font-family: $sans;
}



.title {
  display: flex;
  align-items: center;
  span {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.125rem;
    font-family: $sans;
    color: $darkGray;
    @include respond-to('xsmall') {
      font-size: 1.5rem;
    }
    @include respond-to('small') {
      display: none;
    }
    @include respond-to('medium') {
      display: initial;
      font-size: 1.125rem;
    }
    @include respond-to('large') {
      font-size: 1.5rem;
    }
    a {
      color: $darkGray;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
.isLiveLink {
  a {
    padding: 0.5rem 1rem;
    display: inline-block;
    background: $red;
    color: $white !important;
    border: 2px solid $red;
    border-radius: 0.5rem;
    &:hover {
      background: $white;
      color: $red !important;
      text-decoration: none !important;
    }
  }
}

.isLiveDonate {
  a {
    padding: 0.5rem 1rem;
    display: inline-block;
    background: $green;
    color: $white !important;
    border: 2px solid $green;
    border-radius: 0.5rem;
    &:hover {
      background: $white;
      color: $green !important;
      text-decoration: none !important;
    }
  }
}