@import '../../common/styles/theme';

.pageContent {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 1366px;
  margin: 160px auto;
  padding: 0 3rem;
  font-family: $sans;
  header {
    width: 33%;
    max-width: 600px;
    margin: 0 0 3rem 0;
    padding: 0 2rem 0 0;
    div {
      border-radius: 1rem;
    }
  }
  section {
    width: 66%;
    h1 {
      margin: 0 0 1rem 0;
    }
    div {
      max-width: 800px;
    }
  }
}