.progress-bar {
  width: 100%;
  height: 5px;
  background: #efefef;
}

.progress-bar-value {
  width: 0;
  height: 5px;
  background: rgb(51,153,255);
  background: linear-gradient(45deg, rgba(51,153,255,1) 0%, rgba(253,51,255,1) 100%);
}